* {
    box-sizing: border-box;
}

body {
    background: #ffffff;
    font-family: 'adobe clean','HelveticaNeue-light','Helvetica Neue','Helvetica','Arial','sans-serif';
    margin: 40;
}

.hero {
    position: relative;
}

.main > div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
    max-width: 1200px;
    padding: 6px 24px;
    margin: 0;
    flex: 1 1 auto;
    position: relative;
}

p {
    font-weight: 500;
    font-size: 25px;
    color: #333;   
}

li {
    font-weight: 300;
    font-size: 21px;
    line-height: 1.5;
    color: #333;
}

h2  {
    font-size: 21px;
    line-height: 32px;
    color: #666;
    font-weight: 300;
    }

h3  {
    font-size: 23px;
    font-weight: 500;
}

h1  {
    font-size: 1.5rem;
    line-height: 1.15;
    font-weight: 500;
    word-break: break-word;
}

h4  {
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
}
