* {
    box-sizing: border-box;
}

body {
    background: #ffffff;
    font-family: 'adobe clean';
    margin: 40;
}

.hero {
    position: relative;
}

.main > div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
    max-width: 1200px;
    padding: 0 0 48px 0;
}

h1, p {
    position: relative;
    padding: 6px 24px;
    margin: 0;
    flex: 1 1 auto;
}

h2  {
    position: relative;
    padding: 6px 24px;
    margin: 0;
    flex: 1 1 auto;
    font-size: 25px;
    line-height: 32px;
    color: #666;
    font-weight: 300;
    }

h3
    position: relative;
    padding: 6px 24px;
    margin: 0;
    font-size: 23px;
    position: relative;
    flex: 1 1 auto;
}

.hero picture {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
